<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ISalaryMapper">
<insert id="save" parameterType="com.po.Salary">
insert into salary(eid,enoney) values(#{eid},#{enoney})
</insert>
<update id="update" parameterType="com.po.Salary">
update salary set enoney=#{enoney} where eid=#{eid}
</update>
<delete id="delByEid" parameterType="Integer">
delete from salary where eid=#{eid}
</delete>
<select id="findByEid" parameterType="Integer" resultType="com.po.Salary">
select * from salary where eid=#{eid}
</select>
</mapper>